In [1]:
import pandas as pd

In [53]:
#data2020 = pd.read_csv("Data2020CovidMex1.csv") 
data2020 = pd.read_csv("Data2020CovidMexupdate1.csv")

In [54]:
list(data2020)

['FECHA_ACTUALIZACION',
 'ID_REGISTRO',
 'SECTOR',
 'ENTIDAD_UM',
 'SEXO',
 'ENTIDAD_RES',
 'MUNICIPIO_RES',
 'TIPO_PACIENTE',
 'FECHA_INGRESO',
 'FECHA_SINTOMAS',
 'FECHA_DEF',
 'INTUBADO',
 'NEUMONIA',
 'EDAD',
 'NACIONALIDAD',
 'EMBARAZO',
 'HABLA_LENGUA_INDIG',
 'DIABETES',
 'EPOC',
 'ASMA',
 'INMUSUPR',
 'HIPERTENSION',
 'OTRA_COM',
 'CARDIOVASCULAR',
 'OBESIDAD',
 'RENAL_CRONICA',
 'TABAQUISMO',
 'OTRO_CASO',
 'RESULTADO_ANTIGENO',
 'UCI']

In [55]:
data2020=data2020.drop(['FECHA_ACTUALIZACION','SECTOR',  'ENTIDAD_UM' , 'SEXO',  'ENTIDAD_RES',  'MUNICIPIO_RES',  'TIPO_PACIENTE','INTUBADO', 'NEUMONIA', 'EDAD', 'NACIONALIDAD',
 'EMBARAZO', 'HABLA_LENGUA_INDIG', 'DIABETES','EPOC','ASMA','INMUSUPR','HIPERTENSION','OTRA_COM','CARDIOVASCULAR', 'OBESIDAD', 'RENAL_CRONICA', 'TABAQUISMO', 'OTRO_CASO',
 'RESULTADO_ANTIGENO', 'UCI' ], 1)

<ipython-input-55-82abd20876c5>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  data2020=data2020.drop(['FECHA_ACTUALIZACION','SECTOR',  'ENTIDAD_UM' , 'SEXO',  'ENTIDAD_RES',  'MUNICIPIO_RES',  'TIPO_PACIENTE','INTUBADO', 'NEUMONIA', 'EDAD', 'NACIONALIDAD',

In [56]:
data2020.head()

  ID_REGISTRO FECHA_INGRESO FECHA_SINTOMAS   FECHA_DEF
0      z482b8    2020-10-16     2020-10-16  9999-99-99
1      z49a69    2020-07-20     2020-07-17  2020-07-21
2      z33a15    2020-08-19     2020-08-17  9999-99-99
3      zzcda2    2020-03-03     2020-03-01  9999-99-99
4      z4f06b    2020-08-31     2020-08-26  9999-99-99

In [57]:
data2020 = data2020[data2020["FECHA_DEF"].str.contains("2021")==False]

In [58]:
data2020.shape

(15052945, 4)

In [7]:
#data2020["ID_REGISTRO"] = data2020["ID_REGISTRO"].astype('str') 15129496

In [59]:
data2020.dtypes

ID_REGISTRO       object
FECHA_INGRESO     object
FECHA_SINTOMAS    object
FECHA_DEF         object
dtype: object

In [60]:
#a = False 
#if data2020['ID_REGISTRO'][0] == data2020['ID_REGISTRO'][1]:
#    a = True
#print(a)

In [61]:
#data2020.duplicated()

In [62]:
#data2020.duplicated(subset=['FECHA_INGRESO'])

In [63]:
#print(data2020['ID_REGISTRO'][0])

In [64]:
#boolean = data2020['ID_REGISTRO'].duplicated().count()

In [65]:
#boolean

In [66]:
#data2021 = pd.read_csv("Data2021CovidMex.csv") 
data2021 = pd.read_csv("Data2021CovidMexupdate1.csv")

In [67]:
data2021=data2021.drop(['FECHA_ACTUALIZACION','SECTOR',  'ENTIDAD_UM' , 'SEXO',  'ENTIDAD_RES',  'MUNICIPIO_RES',  'TIPO_PACIENTE','INTUBADO', 'NEUMONIA', 'EDAD', 'NACIONALIDAD',
 'EMBARAZO', 'HABLA_LENGUA_INDIG', 'DIABETES','EPOC','ASMA','INMUSUPR','HIPERTENSION','OTRA_COM','CARDIOVASCULAR', 'OBESIDAD', 'RENAL_CRONICA', 'TABAQUISMO', 'OTRO_CASO',
 'RESULTADO_ANTIGENO', 'UCI' ], 1)

<ipython-input-67-fd4a45fe1803>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  data2021=data2021.drop(['FECHA_ACTUALIZACION','SECTOR',  'ENTIDAD_UM' , 'SEXO',  'ENTIDAD_RES',  'MUNICIPIO_RES',  'TIPO_PACIENTE','INTUBADO', 'NEUMONIA', 'EDAD', 'NACIONALIDAD',

In [68]:
data2021 = data2021[data2021["FECHA_DEF"].str.contains("2020")==False]

In [69]:
data2021.head()

  ID_REGISTRO FECHA_INGRESO FECHA_SINTOMAS   FECHA_DEF
0      1333b7    2021-01-21     2021-01-17  9999-99-99
1      048d29    2021-01-05     2021-01-01  9999-99-99
2      09bf6a    2021-01-09     2021-01-08  9999-99-99
3      083415    2021-01-16     2021-01-16  2021-01-21
4      13928e    2021-01-29     2021-01-25  9999-99-99

In [70]:
data2021.shape #11936470

(11936390, 4)

In [71]:
data2021.dtypes

ID_REGISTRO       object
FECHA_INGRESO     object
FECHA_SINTOMAS    object
FECHA_DEF         object
dtype: object

In [108]:
#data2020['FECHA_INGRESO'] = pd.to_datatime(data2020.FECHA_INGRESO) #,'FECHA_SINTOMAS','FECHA_DEF'

In [72]:
data2020["FECHA_DEF"].value_counts()

9999-99-99    13612831
2020-12-29        9217
2020-12-28        9154
2020-12-30        8939
2020-12-27        8719
                ...
2020-03-13           7
2020-03-03           7
2020-02-07           4
2020-02-24           3
2020-01-24           1
Name: FECHA_DEF, Length: 294, dtype: int64

In [73]:
data2020 = data2020[data2020.FECHA_DEF != "9999-99-99"]

In [74]:
data2020["FECHA_DEF"].value_counts()

2020-12-29    9217
2020-12-28    9154
2020-12-30    8939
2020-12-27    8719
2020-12-21    8511
              ...
2020-03-13       7
2020-03-03       7
2020-02-07       4
2020-02-24       3
2020-01-24       1
Name: FECHA_DEF, Length: 293, dtype: int64

In [75]:
df = pd.DataFrame(data=data2020["FECHA_DEF"].value_counts())

In [76]:
df.head(5)

            FECHA_DEF
2020-12-29       9217
2020-12-28       9154
2020-12-30       8939
2020-12-27       8719
2020-12-21       8511

In [77]:
df['FECHA'] = df.index

In [78]:
df.head(5)

            FECHA_DEF       FECHA
2020-12-29       9217  2020-12-29
2020-12-28       9154  2020-12-28
2020-12-30       8939  2020-12-30
2020-12-27       8719  2020-12-27
2020-12-21       8511  2020-12-21

In [79]:
df.reset_index(level=0, inplace=True)

In [80]:
df.head(5)

        index  FECHA_DEF       FECHA
0  2020-12-29       9217  2020-12-29
1  2020-12-28       9154  2020-12-28
2  2020-12-30       8939  2020-12-30
3  2020-12-27       8719  2020-12-27
4  2020-12-21       8511  2020-12-21

In [81]:
df=df.drop(['index' ], 1)

<ipython-input-81-de4faf79ee94>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df=df.drop(['index' ], 1)

In [82]:
df.head(5)

   FECHA_DEF       FECHA
0       9217  2020-12-29
1       9154  2020-12-28
2       8939  2020-12-30
3       8719  2020-12-27
4       8511  2020-12-21

In [83]:
data2021["FECHA_DEF"].value_counts()

9999-99-99    11168309
2021-01-20       12875
2021-01-25       12803
2021-01-24       12636
2021-01-26       12557
                ...
2021-06-10         397
2021-06-12         342
2021-06-03         314
2021-09-30         148
2021-10-01           2
Name: FECHA_DEF, Length: 275, dtype: int64

In [84]:
df21 = data2021[data2021.FECHA_DEF != "9999-99-99"]

In [85]:
df21 = pd.DataFrame(data=df21["FECHA_DEF"].value_counts())

In [86]:
df21.head

<bound method NDFrame.head of             FECHA_DEF
2021-01-20      12875
2021-01-25      12803
2021-01-24      12636
2021-01-26      12557
2021-01-19      12372
...               ...
2021-06-10        397
2021-06-12        342
2021-06-03        314
2021-09-30        148
2021-10-01          2

[274 rows x 1 columns]>

In [87]:
df21.head

<bound method NDFrame.head of             FECHA_DEF
2021-01-20      12875
2021-01-25      12803
2021-01-24      12636
2021-01-26      12557
2021-01-19      12372
...               ...
2021-06-10        397
2021-06-12        342
2021-06-03        314
2021-09-30        148
2021-10-01          2

[274 rows x 1 columns]>

In [88]:
df21['FECHA'] = df21.index

In [89]:
df21.reset_index(level=0, inplace=True)

In [90]:
df21=df21.drop(['index' ], 1)

<ipython-input-90-5b610b0ace55>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df21=df21.drop(['index' ], 1)

In [91]:
df21.head(5)

   FECHA_DEF       FECHA
0      12875  2021-01-20
1      12803  2021-01-25
2      12636  2021-01-24
3      12557  2021-01-26
4      12372  2021-01-19

In [92]:
df=df.rename(columns={"FECHA_DEF": "CountDEF", "FECHA": "FECHA_DEF"})
df21=df21.rename(columns={"FECHA_DEF": "CountDEF", "FECHA": "FECHA_DEF"})

In [93]:
df

     CountDEF   FECHA_DEF
0        9217  2020-12-29
1        9154  2020-12-28
2        8939  2020-12-30
3        8719  2020-12-27
4        8511  2020-12-21
..        ...         ...
288         7  2020-03-13
289         7  2020-03-03
290         4  2020-02-07
291         3  2020-02-24
292         1  2020-01-24

[293 rows x 2 columns]

In [94]:
df21

     CountDEF   FECHA_DEF
0       12875  2021-01-20
1       12803  2021-01-25
2       12636  2021-01-24
3       12557  2021-01-26
4       12372  2021-01-19
..        ...         ...
269       397  2021-06-10
270       342  2021-06-12
271       314  2021-06-03
272       148  2021-09-30
273         2  2021-10-01

[274 rows x 2 columns]

In [95]:
#df['FECHA_INGRESO'] = pd.to_datatime(data2020.FECHA_INGRESO)
df['FECHA_DEF'] = pd.to_datetime(df['FECHA_DEF'], format='%Y-%m-%d')

In [96]:
df.dtypes

CountDEF              int64
FECHA_DEF    datetime64[ns]
dtype: object

In [97]:
df21['FECHA_DEF'] = pd.to_datetime(df21['FECHA_DEF'], format='%Y-%m-%d')

In [98]:
df21.dtypes

CountDEF              int64
FECHA_DEF    datetime64[ns]
dtype: object

In [99]:
 df = df.sort_values(by='FECHA_DEF')

In [100]:
df.head()

     CountDEF  FECHA_DEF
292         1 2020-01-24
290         4 2020-02-07
291         3 2020-02-24
289         7 2020-03-03
288         7 2020-03-13

In [101]:
df.reset_index(level=0, inplace=True)

In [102]:
df=df.drop(['index' ], 1)

<ipython-input-102-de4faf79ee94>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df=df.drop(['index' ], 1)

In [103]:
df

     CountDEF  FECHA_DEF
0           1 2020-01-24
1           4 2020-02-07
2           3 2020-02-24
3           7 2020-03-03
4           7 2020-03-13
..        ...        ...
288      8719 2020-12-27
289      9154 2020-12-28
290      9217 2020-12-29
291      8939 2020-12-30
292      8399 2020-12-31

[293 rows x 2 columns]

In [104]:
df.dtypes

CountDEF              int64
FECHA_DEF    datetime64[ns]
dtype: object

In [105]:
 df21 = df21.sort_values(by='FECHA_DEF')

In [106]:
df21.reset_index(level=0, inplace=True)

In [107]:
df21=df21.drop(['index' ], 1)

<ipython-input-107-5b610b0ace55>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df21=df21.drop(['index' ], 1)

In [108]:
df21

     CountDEF  FECHA_DEF
0         793 2021-01-01
1        1727 2021-01-02
2        2780 2021-01-03
3        3695 2021-01-04
4        4438 2021-01-05
..        ...        ...
269       546 2021-09-27
270       532 2021-09-28
271       404 2021-09-29
272       148 2021-09-30
273         2 2021-10-01

[274 rows x 2 columns]

In [109]:
df

     CountDEF  FECHA_DEF
0           1 2020-01-24
1           4 2020-02-07
2           3 2020-02-24
3           7 2020-03-03
4           7 2020-03-13
..        ...        ...
288      8719 2020-12-27
289      9154 2020-12-28
290      9217 2020-12-29
291      8939 2020-12-30
292      8399 2020-12-31

[293 rows x 2 columns]

In [110]:
df21.dtypes

CountDEF              int64
FECHA_DEF    datetime64[ns]
dtype: object

In [111]:
df.dtypes

CountDEF              int64
FECHA_DEF    datetime64[ns]
dtype: object

In [112]:
df.to_csv ('Muertes_UpTDia2020.csv', index = False, header=True)

In [113]:
df21.to_csv ('Muertes_UpTDia2021.csv', index = False, header=True)

In [114]:
Muertes2020_2021 = [df,df21]

In [115]:
Muertes2020_2021 = pd.concat(Muertes2020_2021)

In [116]:
Muertes2020_2021

     CountDEF  FECHA_DEF
0           1 2020-01-24
1           4 2020-02-07
2           3 2020-02-24
3           7 2020-03-03
4           7 2020-03-13
..        ...        ...
269       546 2021-09-27
270       532 2021-09-28
271       404 2021-09-29
272       148 2021-09-30
273         2 2021-10-01

[567 rows x 2 columns]

In [117]:
Muertes2020_2021.dtypes

CountDEF              int64
FECHA_DEF    datetime64[ns]
dtype: object

In [118]:
Muertes2020_2021 = Muertes2020_2021.sort_values(by='FECHA_DEF')

In [119]:
Muertes2020_2021

     CountDEF  FECHA_DEF
0           1 2020-01-24
1           4 2020-02-07
2           3 2020-02-24
3           7 2020-03-03
4           7 2020-03-13
..        ...        ...
269       546 2021-09-27
270       532 2021-09-28
271       404 2021-09-29
272       148 2021-09-30
273         2 2021-10-01

[567 rows x 2 columns]

In [120]:
Muertes2020_2021.reset_index(level=0, inplace=True)

In [121]:
Muertes2020_2021=Muertes2020_2021.drop(['index' ], 1)

<ipython-input-121-cdc5cf260179>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Muertes2020_2021=Muertes2020_2021.drop(['index' ], 1)

In [122]:
Muertes2020_2021

     CountDEF  FECHA_DEF
0           1 2020-01-24
1           4 2020-02-07
2           3 2020-02-24
3           7 2020-03-03
4           7 2020-03-13
..        ...        ...
562       546 2021-09-27
563       532 2021-09-28
564       404 2021-09-29
565       148 2021-09-30
566         2 2021-10-01

[567 rows x 2 columns]

In [123]:
Muertes2020_2021.to_csv ('MuertesUpT2020_2021.csv', index = False, header=True)