In [1]:
import pandas as pd

In [2]:
#data2020 = pd.read_csv("Data2020CovidMex1.csv") 
data2020 = pd.read_csv("Data2020CovidMexupdate1.csv")

In [3]:
list(data2020)

['FECHA_ACTUALIZACION',
 'ID_REGISTRO',
 'SECTOR',
 'ENTIDAD_UM',
 'SEXO',
 'ENTIDAD_RES',
 'MUNICIPIO_RES',
 'TIPO_PACIENTE',
 'FECHA_INGRESO',
 'FECHA_SINTOMAS',
 'FECHA_DEF',
 'INTUBADO',
 'NEUMONIA',
 'EDAD',
 'NACIONALIDAD',
 'EMBARAZO',
 'HABLA_LENGUA_INDIG',
 'DIABETES',
 'EPOC',
 'ASMA',
 'INMUSUPR',
 'HIPERTENSION',
 'OTRA_COM',
 'CARDIOVASCULAR',
 'OBESIDAD',
 'RENAL_CRONICA',
 'TABAQUISMO',
 'OTRO_CASO',
 'RESULTADO_ANTIGENO',
 'UCI']

In [4]:
data2020=data2020.drop(['FECHA_ACTUALIZACION','SECTOR',  'ENTIDAD_UM' , 'SEXO',  'ENTIDAD_RES',  'MUNICIPIO_RES',  'TIPO_PACIENTE','INTUBADO', 'NEUMONIA', 'EDAD', 'NACIONALIDAD',
 'EMBARAZO', 'HABLA_LENGUA_INDIG', 'DIABETES','EPOC','ASMA','INMUSUPR','HIPERTENSION','OTRA_COM','CARDIOVASCULAR', 'OBESIDAD', 'RENAL_CRONICA', 'TABAQUISMO', 'OTRO_CASO',
 'RESULTADO_ANTIGENO', 'UCI' ], 1)

<ipython-input-4-82abd20876c5>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  data2020=data2020.drop(['FECHA_ACTUALIZACION','SECTOR',  'ENTIDAD_UM' , 'SEXO',  'ENTIDAD_RES',  'MUNICIPIO_RES',  'TIPO_PACIENTE','INTUBADO', 'NEUMONIA', 'EDAD', 'NACIONALIDAD',

In [5]:
data2020.head()

  ID_REGISTRO FECHA_INGRESO FECHA_SINTOMAS   FECHA_DEF
0      z482b8    2020-10-16     2020-10-16  9999-99-99
1      z49a69    2020-07-20     2020-07-17  2020-07-21
2      z33a15    2020-08-19     2020-08-17  9999-99-99
3      zzcda2    2020-03-03     2020-03-01  9999-99-99
4      z4f06b    2020-08-31     2020-08-26  9999-99-99

In [6]:
data2020.shape

(15129496, 4)

In [95]:
#data2020["ID_REGISTRO"] = data2020["ID_REGISTRO"].astype('str')

In [7]:
data2020.dtypes

ID_REGISTRO       object
FECHA_INGRESO     object
FECHA_SINTOMAS    object
FECHA_DEF         object
dtype: object

In [97]:
#a = False 
#if data2020['ID_REGISTRO'][0] == data2020['ID_REGISTRO'][1]:
#    a = True
#print(a)

In [98]:
#data2020.duplicated()

In [99]:
#data2020.duplicated(subset=['FECHA_INGRESO'])

In [100]:
#print(data2020['ID_REGISTRO'][0])

In [101]:
#boolean = data2020['ID_REGISTRO'].duplicated().count()

In [102]:
#boolean

In [8]:
#data2021 = pd.read_csv("Data2021CovidMex.csv") 
data2021 = pd.read_csv("Data2021CovidMexupdate1.csv")

In [9]:
data2021=data2021.drop(['FECHA_ACTUALIZACION','SECTOR',  'ENTIDAD_UM' , 'SEXO',  'ENTIDAD_RES',  'MUNICIPIO_RES',  'TIPO_PACIENTE','INTUBADO', 'NEUMONIA', 'EDAD', 'NACIONALIDAD',
 'EMBARAZO', 'HABLA_LENGUA_INDIG', 'DIABETES','EPOC','ASMA','INMUSUPR','HIPERTENSION','OTRA_COM','CARDIOVASCULAR', 'OBESIDAD', 'RENAL_CRONICA', 'TABAQUISMO', 'OTRO_CASO',
 'RESULTADO_ANTIGENO', 'UCI' ], 1)

<ipython-input-9-fd4a45fe1803>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  data2021=data2021.drop(['FECHA_ACTUALIZACION','SECTOR',  'ENTIDAD_UM' , 'SEXO',  'ENTIDAD_RES',  'MUNICIPIO_RES',  'TIPO_PACIENTE','INTUBADO', 'NEUMONIA', 'EDAD', 'NACIONALIDAD',

In [10]:
data2021.head()

  ID_REGISTRO FECHA_INGRESO FECHA_SINTOMAS   FECHA_DEF
0      1333b7    2021-01-21     2021-01-17  9999-99-99
1      048d29    2021-01-05     2021-01-01  9999-99-99
2      09bf6a    2021-01-09     2021-01-08  9999-99-99
3      083415    2021-01-16     2021-01-16  2021-01-21
4      13928e    2021-01-29     2021-01-25  9999-99-99

In [11]:
data2021.shape

(11936470, 4)

In [12]:
data2021.dtypes

ID_REGISTRO       object
FECHA_INGRESO     object
FECHA_SINTOMAS    object
FECHA_DEF         object
dtype: object

In [108]:
#data2020['FECHA_INGRESO'] = pd.to_datatime(data2020.FECHA_INGRESO) #,'FECHA_SINTOMAS','FECHA_DEF'

In [13]:
data2020["FECHA_INGRESO"].value_counts()

2020-12-29    158488
2020-12-28    158393
2020-12-30    145329
2020-12-21    143031
2020-12-14    142221
               ...
2020-01-31         2
2020-01-26         2
2020-02-10         2
2020-02-14         2
2020-01-09         1
Name: FECHA_INGRESO, Length: 361, dtype: int64

In [14]:
df = pd.DataFrame(data=data2020["FECHA_INGRESO"].value_counts())

In [15]:
df.head(5)

            FECHA_INGRESO
2020-12-29         158488
2020-12-28         158393
2020-12-30         145329
2020-12-21         143031
2020-12-14         142221

In [16]:
df['FECHA'] = df.index

In [17]:
df.head(5)

            FECHA_INGRESO       FECHA
2020-12-29         158488  2020-12-29
2020-12-28         158393  2020-12-28
2020-12-30         145329  2020-12-30
2020-12-21         143031  2020-12-21
2020-12-14         142221  2020-12-14

In [18]:
df.reset_index(level=0, inplace=True)

In [19]:
df.head(5)

        index  FECHA_INGRESO       FECHA
0  2020-12-29         158488  2020-12-29
1  2020-12-28         158393  2020-12-28
2  2020-12-30         145329  2020-12-30
3  2020-12-21         143031  2020-12-21
4  2020-12-14         142221  2020-12-14

In [20]:
df=df.drop(['index' ], 1)

<ipython-input-20-de4faf79ee94>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df=df.drop(['index' ], 1)

In [21]:
df.head(5)

   FECHA_INGRESO       FECHA
0         158488  2020-12-29
1         158393  2020-12-28
2         145329  2020-12-30
3         143031  2020-12-21
4         142221  2020-12-14

In [22]:
df21 = pd.DataFrame(data=data2021["FECHA_INGRESO"].value_counts())

In [23]:
df21['FECHA'] = df21.index

In [24]:
df21.reset_index(level=0, inplace=True)

In [25]:
df21=df21.drop(['index' ], 1)

<ipython-input-25-5b610b0ace55>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df21=df21.drop(['index' ], 1)

In [26]:
df21.head(5)

   FECHA_INGRESO       FECHA
0         205574  2021-01-11
1         193395  2021-01-12
2         191072  2021-01-18
3         186383  2021-01-19
4         185983  2021-01-05

In [27]:
df=df.rename(columns={"FECHA_INGRESO": "CountFI", "FECHA": "FECHA_INGRESO"})
df21=df21.rename(columns={"FECHA_INGRESO": "CountFI", "FECHA": "FECHA_INGRESO"})

In [28]:
df

     CountFI FECHA_INGRESO
0     158488    2020-12-29
1     158393    2020-12-28
2     145329    2020-12-30
3     143031    2020-12-21
4     142221    2020-12-14
..       ...           ...
356        2    2020-01-31
357        2    2020-01-26
358        2    2020-02-10
359        2    2020-02-14
360        1    2020-01-09

[361 rows x 2 columns]

In [29]:
df21

     CountFI FECHA_INGRESO
0     205574    2021-01-11
1     193395    2021-01-12
2     191072    2021-01-18
3     186383    2021-01-19
4     185983    2021-01-05
..       ...           ...
269     4667    2021-05-09
270     4470    2021-05-16
271     4396    2021-09-26
272     4168    2021-06-06
273       34    2021-10-01

[274 rows x 2 columns]

In [30]:
#df['FECHA_INGRESO'] = pd.to_datatime(data2020.FECHA_INGRESO)
df['FECHA_INGRESO'] = pd.to_datetime(df['FECHA_INGRESO'], format='%Y-%m-%d')

In [31]:
df.dtypes

CountFI                   int64
FECHA_INGRESO    datetime64[ns]
dtype: object

In [32]:
df21['FECHA_INGRESO'] = pd.to_datetime(df21['FECHA_INGRESO'], format='%Y-%m-%d')

In [33]:
df21.dtypes

CountFI                   int64
FECHA_INGRESO    datetime64[ns]
dtype: object

In [34]:
 df = df.sort_values(by='FECHA_INGRESO')

In [35]:
df.head()

     CountFI FECHA_INGRESO
355        3    2020-01-01
349        5    2020-01-05
336        7    2020-01-06
350        4    2020-01-07
325       11    2020-01-08

In [36]:
df.reset_index(level=0, inplace=True)

In [37]:
df=df.drop(['index' ], 1)

<ipython-input-37-de4faf79ee94>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df=df.drop(['index' ], 1)

In [38]:
df

     CountFI FECHA_INGRESO
0          3    2020-01-01
1          5    2020-01-05
2          7    2020-01-06
3          4    2020-01-07
4         11    2020-01-08
..       ...           ...
356    43161    2020-12-27
357   158393    2020-12-28
358   158488    2020-12-29
359   145329    2020-12-30
360   119700    2020-12-31

[361 rows x 2 columns]

In [39]:
df.dtypes

CountFI                   int64
FECHA_INGRESO    datetime64[ns]
dtype: object

In [40]:
 df21 = df21.sort_values(by='FECHA_INGRESO')

In [41]:
df21.reset_index(level=0, inplace=True)

In [42]:
df21=df21.drop(['index' ], 1)

<ipython-input-42-5b610b0ace55>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df21=df21.drop(['index' ], 1)

In [43]:
df21

     CountFI FECHA_INGRESO
0      32893    2021-01-01
1      67724    2021-01-02
2      50845    2021-01-03
3     178733    2021-01-04
4     185983    2021-01-05
..       ...           ...
269    17042    2021-09-27
270    12334    2021-09-28
271     9862    2021-09-29
272     4756    2021-09-30
273       34    2021-10-01

[274 rows x 2 columns]

In [44]:
df

     CountFI FECHA_INGRESO
0          3    2020-01-01
1          5    2020-01-05
2          7    2020-01-06
3          4    2020-01-07
4         11    2020-01-08
..       ...           ...
356    43161    2020-12-27
357   158393    2020-12-28
358   158488    2020-12-29
359   145329    2020-12-30
360   119700    2020-12-31

[361 rows x 2 columns]

In [45]:
df21.dtypes

CountFI                   int64
FECHA_INGRESO    datetime64[ns]
dtype: object

In [46]:
df.dtypes

CountFI                   int64
FECHA_INGRESO    datetime64[ns]
dtype: object

In [47]:
df.to_csv ('Hospitalizaciones_upt_Dia2020.csv', index = False, header=True)

In [48]:
df21.to_csv ('Hospitalizaciones_upt_Dia2021.csv', index = False, header=True)

In [49]:
Hospitalizaciones2020_2021 = [df,df21]

In [50]:
Hospitalizaciones_dia_2020_2021 = pd.concat(Hospitalizaciones2020_2021)

In [51]:
Hospitalizaciones_dia_2020_2021

     CountFI FECHA_INGRESO
0          3    2020-01-01
1          5    2020-01-05
2          7    2020-01-06
3          4    2020-01-07
4         11    2020-01-08
..       ...           ...
269    17042    2021-09-27
270    12334    2021-09-28
271     9862    2021-09-29
272     4756    2021-09-30
273       34    2021-10-01

[635 rows x 2 columns]

In [52]:
Hospitalizaciones_dia_2020_2021.dtypes

CountFI                   int64
FECHA_INGRESO    datetime64[ns]
dtype: object

In [53]:
Hospitalizaciones_dia_2020_2021 = Hospitalizaciones_dia_2020_2021.sort_values(by='FECHA_INGRESO')

In [54]:
Hospitalizaciones_dia_2020_2021

     CountFI FECHA_INGRESO
0          3    2020-01-01
1          5    2020-01-05
2          7    2020-01-06
3          4    2020-01-07
4         11    2020-01-08
..       ...           ...
269    17042    2021-09-27
270    12334    2021-09-28
271     9862    2021-09-29
272     4756    2021-09-30
273       34    2021-10-01

[635 rows x 2 columns]

In [55]:
Hospitalizaciones_dia_2020_2021.reset_index(level=0, inplace=True)

In [56]:
Hospitalizaciones_dia_2020_2021=Hospitalizaciones_dia_2020_2021.drop(['index' ], 1)

<ipython-input-56-6857833cbd08>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Hospitalizaciones_dia_2020_2021=Hospitalizaciones_dia_2020_2021.drop(['index' ], 1)

In [57]:
Hospitalizaciones_dia_2020_2021

     CountFI FECHA_INGRESO
0          3    2020-01-01
1          5    2020-01-05
2          7    2020-01-06
3          4    2020-01-07
4         11    2020-01-08
..       ...           ...
630    17042    2021-09-27
631    12334    2021-09-28
632     9862    2021-09-29
633     4756    2021-09-30
634       34    2021-10-01

[635 rows x 2 columns]

In [58]:
Hospitalizaciones_dia_2020_2021.to_csv ('Hospitalizaciones_Dia_upt_2020_2021.csv', index = False, header=True)